
/*    Nav Bar */

.navbar .nav-link {
    font-size: 14px;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    text-transform: uppercase; }
  
.navbar .nav-item .active {
    border-left: 3px solid #444;
}
.navbar-brand img{
    height: 50px;
    width: 50px;
}


/*    Carrousel   */
.carousel-item{
    height: 500px; 
}
  
.carousel-item img {
    background-size: cover; 
}
  
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease; 
}
.dark-overlay {
    position: absolute;
    background: black;
    opacity: 0.7;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0; 
}